/* ===============Hero Section=============== */
/* Jumbotron */
.jumbotron {
  background-color: #e6f0ff;
}

/* Typewriter : https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
.animated-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "I'm a Student";
  color: #6f42c1;
  animation: words 20s infinite;
}

.animated-text span::after {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 105%;
  background-color: #e6f0ff;
  border-left: 2px solid #6f42c1;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "I'm a Student";
  }
  21%,
  40% {
    content: 'I Love Coding';
  }
  41%,
  60% {
    content: 'I Love Algorithm';
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* Projects */
#projects {
  background-color: #e6f0ff;
}

/* Contact */
#contact {
  background-color: #e6f0ff;
}
